<%- include('../partials/header.ejs') %>
<div class="guest-nav">
    <nav class="navbar">
        <div class="container-fluid px-1 px-lg-5">
          <a class="nav-Brand">Blogger</a>
          <a href="/user" class="guest-signinLink">SIGN IN &nbsp;&nbsp;<i class="fa-solid fa-right-to-bracket"></i></a>
        </div>
      </nav>
</div>
<section>
    <div class="guest-banner d-flex">
        <div class="guestSec1Part1">
            Explore the Blogosphere: Ignite Thoughts with Style with <span class="bloggerWord">BLOGGER</span>
            <div class="d-flex justify-content-start pt-3">
              <!-- script.js click event -->
                <button class="guest-createAcc text-black" onclick="redirectSignUP()">Create Account</button>
            </div>
        </div>
        <div class="guestSec1Part2">
            
        </div>
    </div>
    <!-- section2 -->
</section>
<section>
    <div class="guestSection2Div1">
        <p class="section2Heading">What is a BLOG ?</p>
        <p class="section2Para">
            A blog is a regularly updated website or online platform where an individual or a group of individuals share their thoughts, 
            opinions, information, and experiences on various topics. Blogs often include text, images, 
            and multimedia elements, providing a platform for authors, known as bloggers, 
            to engage with a wider audience and create a dynamic, interactive online space.
        </p>
    </div>
</section>
<section>
    <div class="guestSection3 d-flex w-100">
        <div class="guestSection3Div1">
            <p class="section2Heading">Why BLOGGER ?</p>
            <p class="section2Para">
              A blogging website serves as a platform for individuals or groups to publish and share content in the form of blog posts. 
              The use of a blogging website can vary based on the goals and interests of the creators and the audience.
            </p>
        </div>
        <div class="bloggerScreenshots">
          <!-- Add content, such as screenshots, in this div -->
        </div>
      </div>      
</section>

<%- include('../partials/footer.ejs') %>
