<%- include('../partials/header.ejs') %>
<div class="d-flex align-items-around" style="height: 100vh;background-image: url(/public/images/dark-profile-pictures-969un9i0fy3u1cb2.jpg);">
<div class="signin-content d-flex flex-column mx-auto align-items-center" style="width: fit-content; height: fit-content;">
    <div class="file-upload">
        <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
            <div class="drag-text">
                <h3>Drag and drop a file or select add Image</h3>
            </div>
        </div>
        <div class="file-upload-content">
            <div class="mx-auto profileImageDiv">
                <img class="file-upload-image" src="#" alt="your image" style="max-width: 110%; max-height: 110%;" />
            </div>
            <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
            </div>
        </div>
        <div class="d-flex justify-content-around my-5">
            <label>Select Gender</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                Male
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                Female
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                Other
                </label>
            </div>
        </div>
        <div class="d-flex justify-content-center mb-3">
            <button class="button" id="signup-proceed" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75"></path>
                </svg>
                <div class="text mx-5">
                    Signup
                </div>
            </button>
          </div>
    </div>
</div>
</div>

<%- include('../partials/footer.ejs') %>
