@font-face {
    font-family: 'Brand';
    src: url('/public/fonts/Irish_Grover/IrishGrover-Regular.ttf') format('truetype');
}

.homeDiv{
    width: 100%; 
    background-color: #f4f4f4;
    position: relative;
}

.navbar-brand{
    font-family: "Brand";
    font-size: xx-large;
    padding-left: 30px;
}
.navbar-nav li {
    padding-right: 20px; 
    display: flex;
    align-items: center;
}
.nav-link:hover{
    font-weight: bold;
    color: coral;
}
.bannerSubDiv1, .bannerSubDiv2{
    width: 50%;
    height: 30rem;
}
.bannerSubDiv1 {
  margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.bannerSubDiv1 .date{
  font-weight: 350;
}
.bannerSubDiv1 p{
  font-weight: 200;
}
.bannerSubDiv2{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
} 
@media only screen and (max-width: 768px) {
    .bannerDiv{
        flex-direction: column-reverse;
    }
    .bannerSubDiv1{
        width: 100%;
    }
    .bannerSubDiv2{
        width: 100%;
    }
}
.likeAndComments{
  min-height: 5rem;
  display: flex;
  gap: 30px;
  padding-left: 5px;
  align-items: center;
}

/* like btn */

.svg-heart {
  stroke: black;
  stroke-width: 2;
  transition: all 0.5s;
}

.svg-heart.active {
  animation: like 0.5s 1;
  fill: red; 
  stroke: none;
}

@keyframes like {
  0% { transform: scale(1); }
  90% { transform: scale(1.2); }
  100% { transform: scale(1.1); }
}

/* ---- */

.likeDiv svg{
  fill: rgba(0, 0, 0, 0.501);
  margin-left: 10px;
}

.likeDiv:hover svg{
  fill: rgba(0, 0, 0, 0.902);
}

.addBlogBtn{
  position: fixed;
  top: 80%;
  right: 5%;
  background-color: coral;
  min-height: 4rem;
  min-width: 4rem;
  border-radius: 50%;
  text-align: center;
  padding-top: 5px;
  font-size: xx-large;
  color: #f4f4f4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.view-author{
  padding: 10px 15px;
}
.userOwnBlogLabel{
  height: fit-content;
  padding: 0.7rem;
  color: #f4f4f4;
  font-weight: 800;
  border-radius: 20px;
  background-color: rgb(207, 165, 50);
  font-size: 13px;
}

/* modal contents */

.homeModal{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.621);
  z-index: 1000;
  align-items: center;
  justify-content: center;
  display: none;
}

.modalContents{
  margin-top: 5rem;
  width: 50%;
  height: 80%;
  background-color: #f4f4f4;
  border-radius: 10px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  overflow: scroll;
}

@media (max-width: 830px){
  .modalContents{
    width: 90%;
  }
}

.modalContents h2{
  font-weight: bold;
}

.closeModal{
  position: absolute;
  right: 20px;
  top: 15px;
}
.comment-input-container button{
  height: 3rem;
  background-color: #EEEEEE;
  border-bottom-left-radius: 0%;
  border-top-left-radius: 0%;
}
.comment-input-container button:hover{
  border: 1px solid black;
}


.commentInput{
  width: 95%;
  margin-left: 0%;
  margin-right: 0%;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

.userImg{
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-size: cover;
}

.otherComments{
  display: flex;
  gap: 10px;
  padding: 20px;
  margin: 10px 15px 10px 15px;
  background-color: rgba(0, 0, 0, 0.048);
}

.defaultImg{
  height: 100%; 
  background-image: url(/public/images/nocomment-removebg-preview.png); 
  background-size: 300px; 
  background-repeat: no-repeat; 
  background-position: 580px 350px;
  background-attachment: fixed;
}